html {
  font:
    Helvetica,
    Arial,
    sans-serif;
}
body {
  margin: 0 auto;
  padding: 0 10%;
  max-width: 640px;
  color: #000;
  background-color: #fff;
}

h1,
h2,
{
  margin: 0;
  padding: 0;
  text-align: center;
}
