html {
    font:
        Helvetica,
        Arial,
        sans-serif;
    background: #666;
}

body {
    margin: 0 auto;
    padding: 30px 30px;
    width: 640px;
    height: 100%;
    background: #fff;
}

h1,
h2,
{
    margin: 0;
    padding: 0;
    text-align: center;
}
